<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Зареєстровані сервери</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body class="server-body">
    <main class="server-container">
    <h1 class="server-h1">Список серверів</h1>
    {% for s in servers %}
    <div class="server-grid">
        <div class="server-card">
        <div class="server-card-div"><span class="card-label">ID</span> <span class="card-value">{{ s.id }}</span></div>
        <div class="server-card-div"><span class="card-label">Server ID</span> <span class="card-value">{{ s.server_id }}</span></div>
        <div class="server-card-div"><span class="card-label">Control URL</span> <span class="card-value">{{ s.control_url }}</span></div>
        <div class="server-card-div"><span class="card-label">Дата реєстрації</span> <span class="card-value">{{ s.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</span></div>
        </div>
  </div>
  {% endfor %}
    <p><a href="/">← Назад</a></p>
    </main>
</body>
</html>
