<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Центр керування серверами</title>
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    <link href="https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <div class="header-left">
            <img src="/static/images/icon.png" alt="Лого" class="header-icon">
            <div class="header-title">CLI</div>
        </div>
        <div class="user-info">
            <div class="flex-username"><img src="/static/images/account_circle_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="user-icon">
            <div class="username">{{ username }}</div>
            </div>
            <button class="logout-btn" onclick="window.location.href='/logout'">Вийти</button>
        </div>
    </header>

    <main class="content">
        <div class="left-panel">
            <h2 class="h2-margin">Команди</h2>
            <ul id="command-list">
                <li>
                    <span class="folder-label folder">Стандартні</span>
                    <ul class="nested-list">
                        <li>ipconfig</li>
                        <li>whoami</li>
                        <li>hostname</li>
                        <li>tasklist</li>
                        <li>netstat -an</li>
                        <li>shutdown /r /t 0</li>
                        <li>sc query</li>
                        <li>systeminfo</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder">Medoc</span>
                    <ul class="nested-list">
                        <li data-script="run-medoc.exe">Запустити оновлення</li>
                        <li data-script="read-medoc-log.ps1">Перевірити версію</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder">Оновлення</span>
                    <ul class="nested-list">
                        <li data-script="search-updates.ps1">Пошук оновлень</li>
                        <li data-script="tail-logs.ps1">Прочитати логи оновлення</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder">Тестування</span>
                    <ul class="nested-list">
                        <li data-script="send-script.ps1">send-script.ps1</li>
                    </ul>
                </li>
            </ul>
        </div>



        <div class="right-panel">
            <h2 class="h2-margin">Сервери</h2>
            <ul id="server-list"></ul>
            <input type="text" id="server-id" placeholder="Введіть ім'я серверу вручну..." class="server-input">
        </div>

        <div class="main-panel">
            <div class="command-editor">
                <h2 class="h2-margin">Команда</h2>
                <textarea id="command-input" rows="3" placeholder="Оберіть команду або введіть свою..." class="command-input"></textarea>
                <div class="flex-buttons">
                <button id="send-btn" onclick="sendCommand()" style="font-weight: bold;">Надіслати</button>
                <button id="clear-btn" style="font-weight: bold;">Очистити</button>
                </div>
            </div>
            <textarea class="command-output" id="command-output" placeholder="Результати команд з’являться тут..." readonly></textarea>
            </div>
        </div>
    </main>

<script src="/static/main.js"></script>
</body>
</html>
