<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Центр керування серверами</title>
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header class="headers">

        <div class="header-left">
            <img src="/static/images/icon.png" alt="Лого" class="header-icon">
            <div class="header-title">CLI</div>
        </div>

        <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false"></button>

        <nav class="main-nav underline-indicators">
            <ul class="nav-list">
                <li class="nav-item"><a href="{{ url_for('index') }}">Керування</a></li>
                <li class="nav-item"><a href="{{ url_for('base') }}">База серверів</a></li>
                <li class="nav-item"><a href="{{ url_for('monitoring') }}">Моніторинг</a></li>
                <li class="nav-item"><a href="{{ url_for('user_control') }}">Користувачі</a></li>
            </ul>

        <div class="user-info-mobile">
            <div class="flex-username">
            <img src="/static/images/account_circle_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="user-icon" />
            <span class="username">{{ username }}</span>
            </div>
            <button class="logout-btn" onclick="window.location.href='/logout'">Вийти</button>
        </div>
        </nav>

        <div class="user-info desktop-user-info">
            <div class="flex-username">
            <img src="/static/images/account_circle_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="user-icon" />
            <div class="username">{{ username }}</div>
            </div>
            <button class="logout-btn" onclick="window.location.href='/logout'">Вийти</button>
        </div>

    </header>

    <main class="content">
        <section class="command-section">

            <div class="command-editor">
                <h2 class="h2-margin" style="margin-top:1rem;">Команда</h2>
                <textarea id="command-input" rows="3" placeholder="Оберіть команду або введіть свою" class="command-input"></textarea>
                <div class="flex-buttons">
                <button id="send-btn" onclick="sendCommand()" style="font-weight: bold;">Надіслати</button>
                <button id="clear-btn"><span class="icon clear-icon"></span></button>
                </div>
            </div>

            <div class="command-server-wrapper">
                <div class="command-wrapper">
                    <h2 class="h2-margin">Команди</h2>
            <ul id="command-list" class="command-list">
                <li>
                    <span class="folder-label folder"><span class="icon cmd-icon"></span>Стандартні</span>
                    <ul class="nested-list collapsed">
                        <li data-script="basic/sys-info.ps1" data-desc="Виводить основну інформацію про операційну систему, версію Windows, ім'я комп'ютера, користувача та апаратне забезпечення.">Інформація про систему</li>
                        <li data-script="basic/process-list.ps1" data-desc="Показує список усіх запущених процесів на сервері.">Список процесів</li>
                        <li data-script="basic/check-backup.ps1" data-desc="Перевіряє наявність папки 'backup' на диску C: та виводить усі файли і підпапки з датами створення.">Перевірити бекапи</li>
                        <li data-desc="Виводить інформацію про мережеві інтерфейси та їх IP-адреси.">ipconfig</li>
                        <li data-desc="Виводить ім'я поточного комп'ютера (hostname).">hostname</li>
                        <li data-desc="Перезавантажує комп'ютер негайно.">shutdown /r /t 0</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon hive-icon"></span>Medoс</span>
                    <ul class="nested-list collapsed">
                        <li data-script="medoc/download-medoc-update.ps1" data-desc="Завантажує останнє оновлення для програми M.E.Doc." data-dynamic="medoc-download" data-wip="true">Завантажити оновлення</li>
                        <li data-wip="true" data-desc="Запускає процес оновлення програми M.E.Doc.">Запустити оновлення</li>
                        <li data-script="medoc/read-medoc-log.ps1" data-desc="Перевіряє та виводить поточну версію програми M.E.Doc із журналу.">Перевірити версію</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon update-icon"></span>Оновлення</span>
                    <ul class="nested-list collapsed">
                        <li data-script="update/install-updater.ps1" data-desc="Інсталювати необхідні модулі для роботи оновлення Windows через PowerShell, такі як NuGet та PSWindowsUpdate" data-complex="true">Інсталяція модуля оновлень</li>
                        <li data-script="update/search-updates.ps1" data-desc="Шукає доступні оновлення Windows та антивірусу." data-complex="true">Пошук оновлень</li>
                        <li data-script="update/run-update.ps1" data-desc="Встановлює всі доступні оновлення Windows та антивірусу." data-complex="true">Інсталювати оновлення</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon test-icon"></span>Агент</span>
                    <ul class="nested-list collapsed">
                        <li data-script="testing/send-script.ps1" data-desc="Виконує тестовий скрипт для перевірки взаємодії з агентом.">Тест зв'язку</li>
                        <li data-script="testing/uninstall-agent.ps1" data-desc="Зупиняє службу агента (Агент серверу стане недоступний! Щоб відновити роботу, запустіть службу AgentService)" data-neglect="true">Зупинити агент</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon group-icon"></span>Користувачі</span>
                    <ul class="nested-list collapsed">
                        <li data-script="users/active-users.ps1" data-desc="Показує список користувачів, які зараз підключені через RDP.">Активні користувачі</li>
                        <li data-script="users/last-login.ps1" data-desc="Виводить інформацію про останній вхід кожного користувача на сервер.">Останній вхід користувачів</li>
                        <li data-script="users/user-kick-inactive.ps1" data-desc="Завершує всі відключені (disconnected) RDP-сеанси користувачів.">Завершити відключені сеанси</li>
                        <li data-script="users/rdp-fail.ps1" data-desc="Показує список невдалих спроб входу по RDP.">Невдалі входи по RDP</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon disk-icon"></span>Диск</span>
                    <ul class="nested-list collapsed">
                        <li data-script="disk/disk-space.ps1" data-desc="Виводить інформацію про використання дискового простору на всіх дисках.">Дисковий простір</li>
                        <li data-script="disk/disk-check.ps1" data-desc="Аналізує простір на диску та показує, які файли займають найбільше місця.">Аналіз простору для очистки</li>
                        <li data-script="disk/disk-cleanup.ps1" data-desc="Виконує очистку тимчасових та непотрібних файлів на диску.">Очистка диску</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon handy-icon"></span>DISM</span>
                    <ul class="nested-list collapsed">
                        <li data-script="dism/dism-analyze.ps1" data-desc="Аналізує цілісність системних файлів Windows за допомогою DISM." data-complex="true">Аналіз DISM</li>
                        <li data-script="dism/dism-cleanup.ps1" data-desc="Виконує очистку компонентів Windows за допомогою DISM." data-complex="true">Очистка DISM</li>
                        <li data-script="dism/dism-health.ps1" data-desc="Перевіряє та відновлює стан системних файлів Windows за допомогою DISM." data-complex="true">Стан системи</li>
                        <li data-script="dism/dism-readlog.ps1" data-desc="Виводить останні 100 рядків журналу операцій DISM.">Переглянути журнал DISM</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon shield-icon"></span>RDP Guard</span>
                    <ul class="nested-list collapsed">
                        <li data-script="rdpguard/rdpguard-checkblocked.ps1" data-desc="Перевіряє чи є заблоковані IP-адреси в фаєрволі.">Перевірити заблоковані IP</li>
                        <li data-script="rdpguard/rdpguard-unlock.ps1" data-desc="Розблоковує всі IP-адреси, заблоковані RDP Guard.">Розблокувати усі IP</li>
                        <li data-script="rdpguard/rdpguard-check-license.ps1" data-desc="Перевіряє стан ліцензії RDP Guard.">Перевірити ліцензію</li>
                        <li data-script="rdpguard/rdpguard-restore-license.ps1" data-desc="Оновлює або відновлює ліцензію RDP Guard.">Оновити ліцензію</li>
                    </ul>
                </li>
                <li>
                    <span class="folder-label folder"><span class="icon guard-icon"></span>Антивірус</span>
                    <ul class="nested-list collapsed">
                        <li data-script="antivirus/windows-defender-scan.ps1" data-desc="Запускає швидке сканування Windows Defender." data-complex="true">Швидке сканування Defender</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="server-section">
            <h2 class="h2-margin">Сервери</h2>
            <ul id="server-list"></ul>
            <div id="empty-server-text" class="empty-text">
                <div class="empty-content">
                <img src="/static/images/data-not-found.svg" alt="Порожній список" class="empty-icon">
                <span>Тут поки що пусто</span>
            </div>
            </div>
            <button id="toggle-select-all" class="select-btn">Вибрати всі</button>
        </div>

    </section>

        <section class="output-section">
            <div id="output-container" class="output-container"></div>
        </section>

        <div id="tooltip" class="tooltip-text"></div>
    </main>

<script src="/static/main.js"></script>
</body>
</html>
