<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Моніторинг</title>
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header class="headers">

        <div class="header-left">
            <img src="/static/images/icon.png" alt="Лого" class="header-icon">
            <div class="header-title">CLI</div>
        </div>

        <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false"></button>

        <nav class="main-nav underline-indicators">
            <ul class="nav-list">
                <li class="nav-item"><a href="{{ url_for('index') }}">Керування</a></li>
                <li class="nav-item"><a href="{{ url_for('base') }}">База серверів</a></li>
                <li class="nav-item"><a href="{{ url_for('monitoring') }}">Моніторинг</a></li>
            </ul>

        <div class="user-info-mobile">
            <div class="flex-username">
            <img src="/static/images/account_circle_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="user-icon" />
            <span class="username">{{ username }}</span>
            </div>
            <button class="logout-btn" onclick="window.location.href='/logout'">Вийти</button>
        </div>
        </nav>

        <div class="user-info desktop-user-info">
            <div class="flex-username">
            <img src="/static/images/account_circle_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="user-icon" />
            <div class="username">{{ username }}</div>
            </div>
            <button class="logout-btn" onclick="window.location.href='/logout'">Вийти</button>
        </div>
    </header>

<main class="monitoring-main">
<div class="empty-text">
      <div class="empty-content">
        <img src="/static/images/data-not-found.svg" alt="Порожній список" class="empty-icon">
        <span>Тут поки що пусто</span>
      </div>
    </div>
</main>
    <script src="/static/navigation.js"></script>
</body>
</html>